@import url("https://fonts.googleapis.com/css2?family=Birthstone&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 3rem 0 0 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  background-color: #fafffe;
  columns: #52605f;
}

.hidden {
  overflow: hidden;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  background: #333;
  z-index: 10000;
}
.loader .lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loader .lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.loader .lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.section {
  padding: 4.5rem 0 2rem;
  text-align: center;
}
.section .span {
  position: relative;
  display: block;
  margin-bottom: 2rem;
}
.section .span::before {
  content: "";
  position: absolute;
  background: #82E0AA;
  width: 100%;
  height: 3px;
  top: 50%;
  left: 0;
  z-index: -1;
}

.section__tittle {
  font-size: 3rem;
  font-family: "Birthstone", cursive;
  background-color: #fafffe;
  display: inline;
  padding: 0 3rem;
  color: #222b2a;
  text-align: center;
  margin-bottom: 1.5rem;
  position: relative;
}

.section__height {
  min-height: 100vh;
}

.container {
  max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 100;
  transition: 0.4s;
}
.header .nav {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .nav .nav__img {
  width: 80px;
}
.header .nav .nav__img img {
  object-fit: cover;
}
.header .nav .nav__logo {
  color: #222b2a;
  font-weight: 600;
  display: none;
}
@media screen and (max-width: 767px) {
  .header .nav .nav__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0 -1px 12px #0e3e3a;
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    display: grid;
    align-items: center;
    border-radius: 1.25rem 1.25rem 0 0;
    transition: 0.4s;
  }
}
.header .nav .nav__list,
.header .nav .nav__link {
  display: flex;
}
.header .nav .nav__link {
  flex-direction: column;
  align-items: center;
  row-gap: 0.25rem;
  color: #222b2a;
  font-weight: 600;
}
.header .nav .nav__link .nav__icon {
  font-size: 1.5rem;
}
.header .nav .nav__link .nav__name {
  font-size: 0.825rem;
}
.header .nav .nav__list {
  justify-content: space-between;
}
.header .nav .active-link {
  position: relative;
  color: #26a699;
  transition: 0.3s;
}

.scroll-header {
  box-shadow: 0 1px 12px rgba(14, 62, 58, 0.15);
}

@media screen and (max-width: 359px) {
  .nav__name {
    display: none;
  }
}
@media screen and (min-width: 576px) {
  .nav__list {
    justify-content: center;
    column-gap: 3rem;
  }
}
@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }

  .section {
    padding: 7rem 0 2rem;
  }

  .nav {
    height: calc($header-height + 1.5rem);
    flex-direction: row-reverse;
  }
  .nav .nav__logo {
    display: block;
  }
  .nav .nav__icon {
    display: none;
  }
  .nav .nav__name {
    font-size: 0.89rem;
  }
  .nav .nav__link:hover {
    color: #26a699;
  }
  .nav .active-link::before {
    content: "";
    position: absolute;
    bottom: -0.75rem;
    width: 5px;
    height: 5px;
    background-color: #26a699;
    border-radius: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}

/*# sourceMappingURL=header.css.map */
